<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>告警</title>

    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="fontawesome/css/all.min.css" rel="stylesheet">
    <link href="bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="show/show.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="compatible/html5shiv.js"></script>
        <script src="compatible/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!--alert table-->
    <div class="table-box">
        <table id="alertTbl" class="table"></table>
    </div>

    <script src="jquery/jquery-3.4.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="bootstrap-table/bootstrap-table.min.js"></script>
    <script src="bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="show/show.js"></script>
</body>
</html>